<div class = "container-fluid" style = "background-color: #007bff;">
 <div class ="container">
    <div class = "row" style = "background-color: #007bff;">
        <div class = "col-sm-4" >
          <img src= "../assets/img/lgo.png" style = "height: 60px; font-weight: bold;">
        </div>
      <div class ="col-sm-8">
          <div class="topnav "   id="myTopnav">
              <a href="../" class="active">Home</a>
              <div class="dropdown1">
                  <button class="dropbtn">Tutorial
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown1-content">
                    <a href="../kaizala">Microsoft Kaizala</a>
                    <a href="#">Selenium</a>
                    <a href="#">Java</a>
                  </div>
                </div> 
              
              <div class="dropdown1">
                <button class="dropbtn">Tools
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown1-content">
                  <a href="#">JMeter</a>
                  <a href="#">Postman</a>
                  <a href="#">TestNG</a>
                </div>
              </div> 
              <a href="../intrvwqs">Interview Questions</a>
              <a href="../contact">Contact</a>
              <a href="#about">About</a>
              <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
      </div>
      
        
     
    </div> 
    </div>


</div>