<div class = "container-fluid" style = "background-color: #007bff; width:100%">
  <div class ="container">
    <div class = "row" style = "background-color: #007bff;">
      <div class = "col-sm-4" >
        <img src= "../assets/img/lgo.png" style = "height: 60px; font-weight: bold;">
      </div>
    </div>
  </div>
</div>
<!-- <nav id="nav">
  <div id="logo">Your <span style="color: brown">Logo here</span></div>
  </nav> -->

  