<!-- <base href="/assets/">
<div id="slider">
<figure>
<img src="x9l2nrcqcmlxiplrct--ajylnwg.png" alt>
<img src="2.png" alt>
<img src="java_dev_Services.jpg" alt>
<img src="deprecationBanner.png" alt>
<img src="29184.jpg" alt> 
</figure>
</div> -->


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
 data-interval= "3000"  >
  <div class="carousel-inner" style = "width:100%; height: 500px !important;">
    <div class="carousel-item active" style = "background-image: linear-gradient(45deg, #0080ff, white , #0080ff);  width:100%; height: 500px !important;">
      <center><img src="../assets/img/1.png" alt="First slide"></center>
    </div>
    <!-- <div class="carousel-item" style = "background-image: linear-gradient(45deg, #0080ff, white , #0080ff);   width:100%; height: 500px !important;">
        <center><img  src="../assets/sel.png" alt="Second slide"></center>
    </div> -->
    <div class="carousel-item" style = "background-image: linear-gradient(45deg, #0080ff, white , #0080ff);   width:100%; height: 500px !important;">
        <center><img  src="../assets/img/3.png" alt="Third slide"></center>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="color: black;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>