<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <p class= "add">New Delhi</p>
        </div>
    
        <div class="col-sm-2">
            
                <a href="http://facebook.com/"><i class="fa fa-facebook"></i></a>
                <a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a>
                <a href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                <a href="http://plus.google.com/"><i class="fa fa-google-plus"></i> </a>
                
                
        </div>
    </div>
</div>