<base href="/assets/">
<div id="slider">
<figure>
<img src="x9l2nrcqcmlxiplrct--ajylnwg.png" alt>
<img src="2.png" alt>
<img src="java_dev_Services.jpg" alt>
<img src="deprecationBanner.png" alt>
<img src="29184.jpg" alt> 
</figure>
</div>