/* index.css */

body{
  background: #eee;
  margin: 20px;
  font-family: tahoma;
}

#toDoWrapper{
  width: 80%;
  margin: 0 auto;
  background: #fff;
  border-top: 3px solid #7f4cc1;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  color: #333;
}

#toDoWrapper p{
  color: #777;
  font-style: italic;
}

#toDoList ul{
  list-style-type: none;
  padding: 0;
}

.well {
    text-align: center;
    border-radius: 4px;
    padding: 4rem 0;
    font-size: 1.5rem;
    color: #c5c5c5;
}