<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/styles.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >
    <!-- <link rel="stylesheet" href="/assets/materialize.min.css"> -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
    <script src="/assets/js/contact_details.js"></script>
</head>
<body>
    <!-- <% include partials/socialmedia.ejs %> -->
    <% include partials/nav.ejs %>
    <% include partials/slider.ejs %>
    <% include partials/intro.ejs %>
    <h1>Main page</h1>
    <% include partials/footer.ejs %>
    <!-- <%= 10 + 5 %> -->
</body>
</html>
