<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <% for(var i=0; i<kaizala_data.length; i++){ %>
                    <title> <%= kaizala_data[i].heading %> </title>
                <% } %>
    <link rel="stylesheet" href="/assets/css/styles.css" >
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" >
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
</head>
<body>
    <% include partials/nav.ejs %><br/>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <% for(var i=0; i<kaizala_data.length; i++){ %>
                    <h1> <u><%= kaizala_data[i].heading %></u> </h1><br>
                <% } %>
            </div>
            <div class="col-sm-12  text-center">
                <% for(var i=0; i<kaizala_data.length; i++){ %>
                    <p> <%= kaizala_data[i].data %> </p><br>
                <% } %>
            </div>
            <div class="col-sm-12">
                <% for(var i=0; i<kaizala_data.length; i++){ %>
                    <img src="<%= kaizala_data[i].img %>" height="100px" width="100px"/><br>
                <% } %>
            </div>
        </div>
    </div>
    <!-- <% include partials/footer.ejs %> -->
</body>
</html>