<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/styles.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/bootstrap.min.css" rel="stylesheet" >
    <!-- <link rel="stylesheet" href="/assets/materialize.min.css"> -->
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/scripts.js"></script>
    <script src="/assets/contact_details.js"></script>
</head>
<body>
    <% include partials/socialmedia.ejs %>
    <% include partials/nav.ejs %><br/>
    <% include partials/intro.ejs %>
    <% include partials/slider.ejs %>
    <h1>Main page</h1>
    <% include partials/footer.ejs %>
</body>
</html>
